<div
  class="flex py-3 items-center"
  style="box-shadow: 0px 4px 8px rgba(49, 49, 130, 0.15)"
>
  <div class="w-4/5 flex items-center mx-auto">
    <div
      class="w-14 h-14 bg-blue-500 rounded-md flex items-center justify-center p-[10px] mr-2"
    >
      <img src="/icon.svg" alt="Logo" class="w-10 h-10" />
    </div>
    <h1 class="text-2xl font-semibold" style="color: #3B82F6">
      financnegramotni.cz
    </h1>
  </div>
</div>
