<section class="py-10 px-4 bg-gray-100 text-gray-900">
  <h2
    class="text-center text-2xl font-bold mb-8 flex justify-center items-center"
  >
    <div class="bg-blue-950 rounded-md p-2 mr-2">
      <img src="/icon.svg" alt="Logo" class="w-6 h-6" />
    </div> Kdo tvoří náš tým
  </h2>
  <div class="max-w-4xl mx-auto space-y-6">
    <div class="bg-white shadow-lg rounded-xl flex items-center">
      <img
        src="/svancara.png"
        alt="Dominik Švancara"
        class="w-44 rounded-l-lg border-r-2 border-blue-500"
      />
      <div class="p-6">
        <h3 class="text-lg font-bold">Dominik Švancara</h3>
        <p class="text-sm">
          Od mala jsem měl blízko k podnikání a rád jsem předával své zkušenosti
          dál. Už na střední škole mě nadchlo investování, kterému jsem se kromě
          koníčku rozhodl věnovat i profesně. Po absolvování matematického
          gymnázia v Brně proto mé kroky vedly na Masarykovu univerzitu, kde
          studuji finance. <br />V našem týmu mám na starosti komunikaci se
          školami, akvizice, přednášky a především se podílím na tvorbě a
          správnosti obsahu aplikace.
        </p>
      </div>
    </div>

    <div class="bg-white shadow-lg rounded-xl flex gap-6 items-center">
      <img
        src="/materna.png"
        alt="Richard Materna"
        class="w-44 rounded-l-lg border-r-2 border-blue-500"
      />
      <div>
        <h3 class="text-lg font-bold">Richard Materna</h3>
        <p class="text-sm">
          Mým dlouhodobým zájmem odjakživa byly softwarové technologie, ekonomie
          a podnikání. Proto jsem se po absolvování matematického gymnázia v
          Brně rozhodl pokračovat touto cestou a zahájil jsem studium
          informatiky na ČVUT v Praze. <br />Paralelně také působím na
          manažerské pozici ve společnosti Metiosoftware a volnočasově se věnuji
          studiu ekonomické teorie i praxe. V našem týmu se věnuji primárně
          technickému řešení, ale i návrhu a tvorbě informačního obsahu
          aplikace.
        </p>
      </div>
    </div>

    <div class="bg-white shadow-lg rounded-xl flex gap-6 items-center">
      <img
        src="/schwarz.png"
        alt="Ondřej Schwarz"
        class="w-44 rounded-l-lg border-r-2 border-blue-500"
      />
      <div>
        <h3 class="text-lg font-bold">Ondřej Schwarz</h3>
        <p class="text-sm">
          Vždy mě bavily technologie, tvoření a řešení problémů. Bylo jen
          logické, že jsem se vydal cestou designéra uživatelských rozhraní. Své
          znalosti rozšiřuji i v jiných oblastech, studiem Multimédií na VŠE a
          dlouhodobou prací ve firmě Metiosoftware. <br />Financemi jsem se
          začal zabývat v momentě, kdy jsem si začal vydělávat první peníze.
          Vždy pro mě byly spíše koníčkem. Je skvělé, že mohu znalosti těchto
          dvou oblastí nyní zužitkovat naráz. V týmu jsem designérem, stratégem
          a testerem.
        </p>
      </div>
    </div>
  </div>
</section>
